@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
  margin: 24px;
  font-family: "Comfortaa";
  color: #3A606E;
}

body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.main-card {
  padding: 8px;
  background-color: gainsboro;
  border-bottom: 4px solid #3A606E;
}

.card-head {
  font-weight: bold;
  padding-top: 16px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.card-body {
  margin: 0;
}
